<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <div class="container">

        <div class="card card-container">
            <div class="text-center">
            <h1>Bienvenido</h1>
         </div>
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="Correo" class="form-control" placeholder="Correo Electronico" >
                <input type="password" id="Contraseña" class="form-control" placeholder="Contraseña" >

               
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Iniciar Sesion</button>
               
            </form>
 
 <div class="text-center">
            <a href="#" class="forgot-password">
                Registrarse
            </a>
        </div>

        </div>
    </div>