<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <div class="container">

        <div class="card card-container">
            <div class="text-center">
            <h1>Registro</h1>
         </div>

            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>

                <input type="text" id="Nombre" class="form-control" placeholder="Nombre">
                <input type="email" id="Email" class="form-control" placeholder="Correo Electronico" >
                <input type="password" id="Contraseña" class="form-control" placeholder="Contraseña" >
                <input type="date" id="Fecha" class="form-control" >
            <p></p>

            
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Registrarse</button>
            </form>

            <div class="text-center">
            <a href="#" class="forgot-password">
                Volver
            </a>
        </div>
        </div>
    </div>
